.footer {
  background-color: #2a2a2a;
  margin-top: 7rem;
}
.footer .textFooter {
  color: white;
}
.footer .footerIcons {
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.footer .footerIcons svg:hover {
  color: #ff9800;
}
@media screen and (max-width: 575px) {
  .footer .footerPairs {
    margin-bottom: 2rem;
  }
}
