#print_content {
  border: 1px solid;
}
.info_btns {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info_btns button {
  background-color: yellow;
  height: 2.5rem;
  width: 35vw;
  font-family: system-ui;
  font-weight: 700;
  padding-right: 1rem;
  border-radius: 10px;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.info_div {
  margin-top: 1rem;
}
