.printPdf_container {
  /* display: none; */
  /* border: 2px solid yellow; */
}

.showPdf_container_main {
  /* border: 1px solid #282828; */
  background-color: white;
  margin-top: 2rem;
  height: 65vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
  border: 1px solid #d0c8c8;
}
.info_btns {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info_btns button {
  background-color: yellow;
  height: 2.5rem;
  width: 35vw;
  font-family: system-ui;
  font-weight: 700;
  padding-right: 1rem;
  border-radius: 10px;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.info_div {
  margin-top: 1rem;
}
