.printPdf_container {
  display: none;
  /* border: 2px solid yellow; */
}

.showPdf_container_main {
  /* border: 1px solid #282828; */
  background-color: white;
  margin-top: 2rem;
  height: 65vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
  border: 1px solid #d0c8c8;
}
.info_btns {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info_btns button {
  background-color: yellow;
  height: 2.5rem;
  width: 35vw;
  font-family: system-ui;
  font-weight: 700;
  padding-right: 1rem;
  border-radius: 10px;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.info_div {
  margin-top: 1rem;
}

/* styling */
.parent_container {
  font-family: sans-serif;
  /* border: 1px solid rebeccapurple; */
}
.parent_container .personalInformation div,
.parent_container .employHistory div,
.parent_container .skillSet_main div,
.parent_container .educ_info div {
  margin-top: 0.7rem;
}
.parent_container .personalInformation input,
.parent_container .employHistory input,
.parent_container .skillSet_main input,
.parent_container .educ_info input {
  position: absolute;
  right: 5rem;
  padding: 0.5px;
}
.parent_container .skillSet_main {
  margin-top: 2rem;
}
.parent_container .aboutYour textarea {
  width: 73vw;
  margin-top: 8px;
  height: 7rem;
}
.parent_container .aboutYour div > p {
  font-weight: bold;
}
.parent_container > h3 {
  /* border: 1px solid; */
  border-radius: 10px;
  background-color: darkgrey;
  margin-top: 2rem;
  padding: 0.4rem;
}
.stepsForCV {
  padding-left: 1rem;
  background: linear-gradient(to right, #f3f3f3, #ffd451);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 3rem;
}
.stepsForCV > h2 {
  font-family: system-ui;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  line-height: 21pt;
  color: #ff5722;
}
.stepsForCV p {
  margin-top: 0.7rem;
  line-height: 20pt;
  font-family: system-ui;
}
.stepsForCV p span {
  font-weight: bold;
  color: darkslategray;
}
