.about_title {
  font-family: system-ui;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid #58453f;
  background-color: #ffc107;
  color: #58453f;
}

.about_content_div {
  /* border: 1px solid; */
  margin: 1rem;
}
.about_content1,
.about_content2 {
  text-align: center;
  font-family: system-ui;
  font-size: 1rem;
}
.about_content2 span {
  color: #ff5722;
}
.about_container .otherSkills {
  /* border: 1px solid; */
  text-align: center;
}
.about_container .otherSkills .bulletTags {
  background-color: #f8bc07;
  margin: 8px;
  color: #876e6e;
  font-weight: 500;
  height: 22px;
  border-radius: 6px;
  font-size: 12px;
  font-family: system-ui;
  display: inline-block;
  border-radius: -1rem;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_container .profileImg {
  width: 50%;
  border: 2px solid #ff5722;
  border-radius: 100%;
  height: auto;
}
.otherSkills_container {
  margin-bottom: 1rem;
}
.experience h3,
.skills_title h3,
.otherSkillsH3 {
  text-align: left;
  font-family: system-ui;
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid;
  display: inline-block;
}
.experience h5 span {
  font-weight: lighter;
}

.experience h5 {
  line-height: 20pt;
  margin-bottom: 1rem;
  text-align: left;
  font-family: system-ui;
  font-size: 1rem;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills_progressBar {
  margin: 0.5rem;
}
.skills_progressBar label {
  position: absolute;
  font-family: system-ui;
  left: 1.5rem;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.socialMedia .socialIcons {
  font-size: 2rem;
  margin: 1rem;
}
.socialMedia a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.social h3 {
  font-family: system-ui;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid #58453f;
  display: inline-block;
  margin-top: 3rem;
}

.eSoftwares {
  text-align: left;
  font-family: system-ui;
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.eSoftwares h3 {
  border-bottom: 1px solid black;
  display: inline-block;
  margin-bottom: 1rem;
}
.eSoftwares p {
  margin-bottom: 0.5rem;
}
#showBtn {
  color: blue;
}
