*{
    /* border: 1px solid; */
}

.homepage-main-container{
    /* border: 1px solid red; */
    /* padding-left: 8rem;
    padding-right: 8rem; */
}
.home-inner-container
{
    margin-left: 8rem;
    /* border: 1px solid red; */
    margin-right: 8rem;
    background-color: gray;
}