.contact_title{
    font-family: system-ui;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 1px solid #58453f;
    background-color: #ffc107;
    color: #58453f;
}
.contact_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 70%;
}
.contact_container{
    width: 100%;
}
.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputField{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.contact_form input{
    height: 2.3rem;
    border-radius: 25px;
    padding: 0.5rem;
}
.contact_form textarea{
    border-radius: 25px;
    padding: 0.5rem;
    font-family: system-ui;
}
.contact_form label{
    padding-left: 0.5rem;
    font-weight: 600;
    font-family: system-ui;
    margin: 0.2rem;
    color: #4d4d4d;
}
.form_btn{
    width: 30%;
    height: 2.4rem;
    margin-top: 1.2rem;
    color: #605959;
    background-color: #ffc107;
    border: 2px solid #caa2a2;
    font-weight: 700;
    font-size: 1rem;
    font-family: system-ui;
    border-radius: 28px;
}
.form_btn:hover{
    color: black;
    background-color: yellow;
}