#about_container{
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}
.left-container{
    background-color: #e7babf;
    border: 1px solid rgb(17, 15, 15);
    height: 100%;
    width: 20%;
}
.right-container{
    height: 100%;
    width: 80%;
    border: 1px solid black;

}