.navbar{
    display: flex;
    background-color: #f1563f;
    flex-direction: row;
    align-items: center;
    height: 7vh;
}
.logo{
        /* margin: 25px; */
        font-size: larger;
        margin-left: 46px;
        font-family: cursive;
        font-weight: 600;
        color: white;
        border-bottom: 2px solid white;
        cursor: pointer;
}
.nav-links{
    position: absolute;
    right: 115px;
}
.links{
    text-decoration: none;
    color: #5d4141;;
    font-family: sans-serif;
    font-size: larger;
    margin: 61px;
    font-weight: 600;
}
.links:hover{
    color: black;
}
