.about_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_about_container{
    background-image: linear-gradient(black, black);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right-block-content1, .right-block-content2, .right-block-content3{
    color: white;
}
.right-block-content2 span{
    color: orange;
}
.profileImg{
    margin-left: 2rem;
    margin-top: 5rem;
}
.profileImg img{
   width: 30vw;
   overflow: hidden;
}