.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 3rem; */
  height: 11rem;
  font-family: cursive;
  align-items: center;
  color: white;
  border-top: 1px solid gray;
  background-color: #00468c;
  /* background-color: #ff5722; */
  /* width: 100%;
  position: absolute; */
  /* bottom: 0; */
}
.footer a {
  text-decoration: none;
}

.footer p {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: system-ui;
  color: #d7d4d4;
  letter-spacing: 1px;
}
.footer > p {
  margin-top: 1.5rem;
}

.main_footer svg {
  position: absolute;
}
