*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
/* .navbar{
  background-color: rgb(209, 185, 185);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar li{
  list-style: none;
  margin: 28px;
  font-size: 23px;
}

.left_links {
  color: black;
  text-decoration: none;
}
.middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.images{
  width: 90%;
  height: 400px;
  object-fit: cover;
} */
