.aboutTitle {
  color: #ff9800 !important;
  /* font-size: 2rem; */
}
.aboutMainTitle {
  font-family: "montserrat";
  font-style: italic;
  font-weight: 600;
  color: #4d4d4d;
}
.bg-gray {
  background-color: #ececec;
}
